<div class="container">
  <div class="bg-white rounded shadow p-8 m-3">
    <div class="p-5">
      <h1>Editing hour</h1>
      <%= render "form", hour: @hour %>
      <br>  
      <div>
        <%= link_to "Show this hour", @hour %> |
        <%= link_to "Back to hours", hours_path %>
      </div>
    </div>
  </div>
</div>