<%= render "unpaid_index" %>

<div class="container mt-5" >
  <hr>
  <h1>Paid Hours</h1>
    <table class="table table-striped">
      <thead>
        <tr>
                 <th scope="col">Contractor</th>
                 <th scope="col">Hours</th>
                 <th scope="col">Date Range</th>
                 <% if current_user.admin? %>
                 <th scope="col">Total</th>
                <% end %>
                 <th scope="col">Pay date</th>
                 <th scope="col">Status</th>
                  <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <div id="hours">
          <% @paid.each do |hour| %>
              <tr>
                  <%= render hour %>
                  <td>
                    <%= link_to "Show", hour %>
                    <%= link_to edit_hour_path(hour) do %>
                        <i class="fa-solid fa-pen-to-square"></i>
                    <% end %> 
                  </td>
              </tr>

          <% end %>
        </div>
        
      </tbody>
    </table>
</div>
