<div class="container" >
  <h1>Boxes</h1> 
    <table class="table table-striped">
      <thead>
        <tr>
                 <th scope="col">Number</th>
                 <th scope="col">Location</th>
                  <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <div id="boxes">
          <% @boxes.each do |box| %>
              <tr>
                  <%= render box %>
                  <td>
                    <%= link_to "Add Inventory", location_box_path(@location, box) %>
                    <%= link_to edit_location_box_path(box) do %>
                        <i class="fa-solid fa-pen-to-square"></i>
                    <% end %> 
                  </td>
              </tr>

          <% end %>
        </div>
        
      </tbody>
    </table>
</div>
        

