<div class="container" >
  <h1>Boxes</h1> 
    <table class="table table-striped">
      <thead>
        <tr>
                 <th scope="col">Number</th>
                 <th scope="col">Location</th>
                  <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <div id="boxes">
          <% @boxes.each do |box| %>
              <tr>
                  <%= render box %>
                  <td>
                    <%= link_to "Add Inventory", location_box_path(@location, box) %>
                    <% if box.inventories.count < 1 %>
                      <%= button_to location_box_path(@location, box), method: :delete, class:"btn btn-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                      <i class="fa-solid fa-trash-can"></i>
                      <% end %> 
                    <% end %>
                  
                  </td>
              </tr>

          <% end %>
        </div>
        
      </tbody>
    </table>
</div>
        

