<div class="container">
  <div class="bg-white rounded shadow p-8 m-3">
    <div class="p-5">
      <h1>Editing box</h1>
      <%= @box.box_number %>
      <%= button_to "Destroy BOX# #{@box.box_number}", location_box_path(@location, @box), method: :delete, class:"btn btn-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>
      <br>  
      <div>
      </div>
    </div>
  </div>
</div>