<div class="container">
    <h1 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="'What!? Open Boarders!' 'No Dad open Orders'">Open Orders </h1> <a href="https://app.sellbrite.com/orders">Sellbrite</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Order Ref</th>
          <th scope="col">Shipping Method</th>
          <th scope="col">Sales Channel</th>
          <th scope="col">Qty</th>
          <th scope="col">Title</th>
          <th scope="col">Total</th>
          <th scope="col">Sku</th>
         
        </tr>
      </thead>
      <tbody>

        <%= render 'static/orders' %>

  
      </tbody>
    </table>
</div>