<div class="container" >
  <h1>Unpaid Expenses</h1> <%= link_to "New expense", new_expense_path, class:"btn btn-primary" %>
  <%= render "unpaid" %>
  <h1>Paid Expenses</h1>
  <%= render "paid" %>
</div>
        

