<div class="container">
  <div class="bg-white rounded shadow p-8 m-3">
    <div class="p-5">
      <h1>New expense</h1>

      <%= render "form", expense: @expense %>

      <br>

      <div>
        <%= link_to "Back to expenses", expenses_path %>
      </div>
    </div>
  </div>
</div>