<div id="shipments">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Shipment_Number</th>
          <th scope="col">Delivery Estimate</th>
          <th scope="col">Description</th>
          <th scope="col">Shipper</th>
          <th scope="col">Tracking</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @shipments.each do |shipment| %>
        <%= render shipment %>
      <% end %>
  
      </tbody>
    </table>
</div>