<div class="container">
  <div class="bg-white rounded shadow p-8 m-3">
    <div class="p-5">
      <h1>New location</h1>

      <%= render "form", location: @location %>

      <br>

      <div>
        <%= link_to "Back to locations", locations_path %>
      </div>
    </div>
  </div>
</div>